.table-section {
  min-height: 82vh;
  padding: 0 3vw;
  margin-top: 2vh;
  h1 {
    margin-bottom: 0;
  }
  .table-responsive {
    min-height: 71vh;
    max-height: 71vh;
    margin: 0vh 0 1vh 0;
    .table {
      margin: auto;
      thead {
        tr {
          th {
            cursor: pointer;
            span {
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
  .input-group {
    max-width: 100%;
    padding-left: 65%;
    padding-right: 12.5%;
    margin-top: -1.8vh;
  }
}

.btn-section {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1vh;
  .next-btn,
  .back-btn {
    width: 8vw;
  }
}

.pagination-numbers {
  min-width: 24px;
  font-size: 16px;
  border: 1px solid black;
  text-align: center;
  border-radius: 7px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: rgb(0, 110, 255);
  }
}
.selected {
  color: white;
  background-color: rgb(0, 110, 255);
}
